# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual environments
# ==============================
.venv/
venv/
env/

# ==============================
# Testing / cache
# ==============================
.pytest_cache/
.coverage
htmlcov/

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# Environment variables / secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp


models/w2v2-aasist.onnx